<fieldset class="fieldset" [disabled]="disabled()">
  <legend class="fieldset-legend" [ngClass]="{ 'text-error' : isInvalid }">{{ legend() }}</legend>
  <input [type]="type()" class="input"
    [formControl]="control()"
    [placeholder]="placeholder()"
    [ngClass]="{ 'input-error' : isInvalid }"
    [mask]="mask()"
    [dropSpecialCharacters]="dropCharacter()"
    [min]="min()"
    [max]="max()"
    [step]="step()"
  />
  @if (label() && isInvalid) {
    <p class="fieldset-label text-error text-[8px]">{{ label() }}</p>
  }
</fieldset>
