@if (!isFirstStep()) {
  <div class="tooltip tooltip-bottom mx-1" data-tip="Anterior" (click)="prev.emit()">
    <button type="button" class="btn bg-yb btn-circle text-white" hoverStyle>
      <span>arrow_circle_left</span>
    </button>
  </div>
}
<div class="tooltip tooltip-bottom mx-1" [attr.data-tip]="isLastStep() ? 'Enviar' : 'Siguiente'">
  <button type="button" class="btn btn-accent btn-circle text-white"
    hoverStyle (click)="next.emit()" [disabled]="isLoading()"
  >
    <span>{{ isLastStep() ? 'check_circle' : 'arrow_circle_right' }}</span>
  </button>
</div>
