<fieldset class="fieldset">
  <legend class="fieldset-legend" [ngClass]="{ 'text-error' : isInvalid }">{{ legend() }}</legend>
  <input type="text" class="input" [ngClass]="{ 'input-error' : isInvalid }"
    [formControl]="control()" readonly placeholder="yyyy-mm-dd" (click)="openCalendar()"
  />
  <div popover #calendarPopover class="bg-base-200 rounded-box shadow-lg center-popover">
    <calendar-date class="cally" (change)="onDateChange($event)" [max]="max()">
      <span class="material-icons" slot="previous">arrow_left</span>
      <span class="material-icons" slot="next">arrow_right</span>
      <calendar-month />
    </calendar-date>
  </div>
  @if (label() && isInvalid) {
    <p class="fieldset-label text-error text-[8px]">{{ label() }}</p>
  }
</fieldset>
