<div class="background-container h-screen">
  <div class="flex flex-col justify-center items-center h-full">
      <span class="font-bold text-white text-center" style="font-size: 60px;">¡Oops!</span>
      <span class="font-bold text-white text-center" style="font-size: 30px;">Pagina no Encontrada</span>
      <div class="error-container text-center">
          <span><span>4</span></span>
          <span>0</span>
          <span><span>4</span></span>
      </div>
  </div>
</div>
<home-button class="fixed top-[35px] left-[35px]" />
<theme-switcher class="fixed top-[35px] right-[35px]" />
