<div class="flex flex-col md:flex-row md:items-center">
  <span class="mr-5">Mostrar:</span>
  <div class="join">
    <input class="join-item btn btn-square" type="radio" aria-label="5" [value]="5" [formControl]="sizeSelected" />
    <input class="join-item btn btn-square" type="radio" aria-label="10" [value]="10" [formControl]="sizeSelected" />
    <input class="join-item btn btn-square" type="radio" aria-label="15" [value]="15" [formControl]="sizeSelected" />
    <input class="join-item btn btn-square" type="radio" aria-label="20" [value]="20" [formControl]="sizeSelected" />
  </div>
</div>
