<div class="flex flex-col">
  <span class="text-3xl font-bold text-center mt-3">Renueva tu Contraseña</span>
  @if (!codeSent()) {
    <text-input class="mt-5" [control]="email" legend="Ingresa tu email"
      label="Este campo es obligatorio." type="text" placeholder="nick@example.com"
    />
    <button class="btn bg-yb mt-2 text-white w-full" (click)="sendCode()">
      Enviar Codigo
    </button>
    <span class="text-center text-xs mt-5">
      Se te enviara un codigo a tu correo electronico para poder restablecer tu contraseña.
    </span>
  } @else {
    <form class="grid grid-cols-7 gap-x-2 mt-5" [formGroup]="resetForm" (ngSubmit)="onResetPassword()">
      <text-input class="col-span-3" [control]="resetForm.controls.password" type="password"
        legend="Contraseña" placeholder="••••••••" label="Usa mayúsculas, minúsculas, números y símbolos."
      />
      <text-input class="col-span-4" [control]="resetForm.controls.confirmPassword" type="password"
        legend="Repite tu Contraseña" placeholder="••••••••" label="Las contraseñas no coinciden."
      />
      <text-input class="col-span-4 md:col-span-3" [control]="resetForm.controls.totp" legend="Ingresa el Codigo"
        label="Este campo es obligatorio." type="text" placeholder="X X X X X X" mask="0 0 0 0 0 0"
      />
      <div class="col-span-3 md:col-span-4 h-[78px] flex items-end">
        <button class="btn bg-yb mb-1 w-full text-white" type="submit">
          Restablecer
        </button>
      </div>
    </form>
  }
</div>
